@font-face {
    src: url("../font/roboto/Roboto-Regular.ttf");
}

@font-face {
    src: url("../font/roboto/Roboto-Medium.ttf");
}

@font-face {
    src: url("../font/roboto/Roboto-Light.ttf");
}

@font-face {
    src: url("../font/roboto/Roboto-Italic.ttf");
}

@font-face {
    src: url("../font/roboto/Roboto-Bold.ttf");
}
