[Unit]
Description=Reversion File Watcher

[Service]
Type=simple
ExecStart=reversiond
Restart=always
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=default.target
