[Unit]
Description=Reversion File Watcher

[Service]
Type=simple
ExecStart=reversion --daemon
Restart=always
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=default.target
