.root {
    -fx-font-family: "Roboto";

    -accent-color: -teal-300;
    -accent-color-selected: -teal-200;

    -depth-1: dropshadow(gaussian, rgba(0, 0, 0, 0.26), 10, 0.12, -1, 2);
    -depth-2: dropshadow(gaussian, rgba(0, 0, 0, 0.26), 15, 0.16, 0, 4);
    -depth-3: dropshadow(gaussian, rgba(0, 0, 0, 0.26), 20, 0.19, 0, 6);
    -depth-4: dropshadow(gaussian, rgba(0, 0, 0, 0.26), 25, 0.25, 0, 8);
    -depth-5: dropshadow(gaussian, rgba(0, 0, 0, 0.26), 30, 0.30, 0, 10);
}

.jfx-tool-bar {
    -fx-min-height: 50;
    -fx-background-color: -grey-50;
}

.jfx-check-box {
    -jfx-checked-color: -accent-color;
    -fx-font-size: 14;
}

.jfx-combo-box {
    -jfx-unfocus-color: -grey-600;
    -jfx-focus-color: -accent-color;
}

.jfx-text-field {
    -jfx-unfocus-color: -grey-600;
    -jfx-focus-color: -accent-color;
}

.jfx-text-area {
    -jfx-unfocus-color: -grey-600;
    -jfx-focus-color: -accent-color;
}

.jfx-rippler {
    -jfx-rippler-fill: white;
}

.jfx-toggle-button {
    -jfx-toggle-color: -accent-color;
}

.jfx-spinner .arc {
    -fx-stroke: -accent-color;
}

.jfx-time-picker {
    -jfx-default-color: -accent-color;
}

.jfx-time-picker > .arrow-button {
    -jfx-default-color: -grey-600;
}

.jfx-time-picker:showing > .arrow-button {
    -jfx-default-color: -accent-color;
}

.jfx-time-picker > .arrow-button:hover {
    -jfx-default-color: -accent-color;
    -fx-cursor: hand;
}

.jfx-date-picker {
    -jfx-default-color: -accent-color;
}

.jfx-date-picker > .arrow-button {
    -jfx-default-color: -grey-600;
}

.jfx-date-picker:showing > .arrow-button {
    -jfx-default-color: -accent-color;
}

.jfx-date-picker > .arrow-button:hover {
    -jfx-default-color: -accent-color;
    -fx-cursor: hand;
}

/* A tab pane for navigating between windows. */
.navigation-tab-bar {
    -fx-tab-min-height: 45;
}

.navigation-tab-bar .tab-header-area .tab-header-background {
    -fx-background-color: -grey-800;
}

.navigation-tab-bar .tab-header-area .tab-selected-line {
    -fx-background-color: -grey-50;
}

.navigation-tab-bar .tab-header-area .tab .tab-label {
    -fx-text-fill: -grey-400;
    -fx-font-weight: normal;
}

.navigation-tab-bar .tab-header-area .tab:selected .tab-label {
    -fx-text-fill: -grey-50;
}

.navigation-tab-bar .tab-header-area .tab:hover .tab-label {
    -fx-text-fill: -grey-50;
}

/* A tab pane for navigating between sections. */
.section-tab-bar {
    -fx-tab-min-height: 40;
}

.section-tab-bar .tab-header-area .jfx-rippler {
    -jfx-rippler-fill: -grey-800;
}

.section-tab-bar .tab-header-area .tab-header-background {
    -fx-background-color: -grey-50;
}

.section-tab-bar .tab-header-area .tab-selected-line {
    -fx-background-color: -grey-800;
}

.section-tab-bar .tab-header-area .tab .tab-label {
    -fx-text-fill: -grey-600;
    -fx-font-weight: normal;
}

.section-tab-bar .tab-header-area .tab:selected .tab-label {
    -fx-text-fill: -grey-800;
}

.section-tab-bar .tab-header-area .tab:hover .tab-label {
    -fx-text-fill: -grey-800;
}

/* The background of the window. */
.background {
    -fx-background-color: -grey-200;
}

/* A pane that floats above the background. */
.pane {
    -fx-background-color: -grey-50;
    -fx-effect: -depth-2;
}

/* An HBox or VBox containing spaced panes. */
.pane-box {
    -fx-margin: 0;
    -fx-padding: 15;
    -fx-spacing: 15;
}

/* A button containing text. */
.button-text {
    -jfx-button-type: RAISED;
    -fx-min-height: 30;
    -fx-min-width: 80;
}

/* A regular button. */
.button-regular {
    -fx-background-color: -grey-500;
    -fx-text-fill: white;
}

.button-regular:hover {
    -fx-background-color: -grey-400;
}

/* A button for confirming/applying an action. */
.button-confirm {
    -fx-background-color: -accent-color;
    -fx-text-fill: white;
}

.button-confirm:hover {
    -fx-background-color: -accent-color-selected;
}

/* A button for doing something that the user should be cautious about. */
.button-danger {
    -fx-background-color: -red-400;
    -fx-text-fill: white;
}

.button-danger:hover {
    -fx-background-color: -red-300;
}

.jfx-toggle-button {
    -fx-text-fill: -grey-800;
    -fx-text-alignment: center;
    -fx-font-size: 12;
}

/* A card-style list. */
.card-list-view {
    -fx-background-color: transparent;
    -jfx-vertical-gap: 10px;
    -jfx-expanded: true;
}

.card-list-view .list-cell {
    -fx-background-color: -grey-50;
}

.card-list-view .list-cell:hover {
    -fx-background-color: -grey-200;
}

.card-list-view .list-cell:selected {
    -fx-background-color: -accent-color;
}

.card-list-view .list-cell:selected .label {
    -fx-text-fill: white;
}

/* The title for a card-style node. */
.card-title {
    -fx-font-family: "Roboto Medium";
    -fx-font-size: 16;
}

/* The subtitle for a card-style node. */
.card-subtitle {
    -fx-font-size: 14;
    -fx-text-fill: -grey-600;
}

/* A node to display in place of an empty list view. */
.placeholder {
    -fx-text-alignment: center;
    -fx-alignment: center;
}

/* The title of a small list item. */
.list-item {
    -fx-font-size: 14;
}

/* A label for a value to display. */
.info-key {
    -fx-font-size: 12;
    -fx-text-fill: -grey-600;
}

/* A labeled value to display. */
.info-value {
    -fx-font-size: 16;
}

/* A button with an icon label for use on a dark background. */
.icon-button-dark .button-icon {
    -fx-icon-size: 24px;
    -fx-icon-color: -grey-200;
}

.icon-button-dark .button-foreground:hover {
    -fx-fill: -grey-50;
    -fx-opacity: 0.2;
}

.icon-button-dark .button-label {
    -fx-text-alignment: center;
    -fx-text-fill: -grey-200;
    -fx-font-size: 12;
}

.icon-button-light .button-icon {
    -fx-icon-size: 24px;
    -fx-icon-color: -grey-800;
}

.icon-button-light .button-foreground:hover {
    -fx-fill: -grey-600;
    -fx-opacity: 0.2;
}

.icon-button-light .button-label {
    -fx-text-alignment: center;
    -fx-text-fill: -grey-800;
    -fx-font-size: 12;
}

.fab-light .button-icon {
    -fx-icon-size: 24px;
    -fx-icon-color: -grey-800;
}

.fab-light .button-background {
    -fx-fill: -grey-50;
    -fx-effect: -depth-2;
}

.fab-light .button-foreground:hover {
    -fx-fill: -grey-600;
    -fx-opacity: 0.2;
}

/* A key-value pair displaying information with an icon. */
.definition .definition-icon {
    -fx-icon-size: 24px;
    -fx-icon-color: -grey-800;
}

/* A popup notification. */
.notification {
    -fx-background-color: -grey-800;
}

.notification .label {
    -fx-text-fill: -grey-200;
    -fx-font-size: 10pt;
}

/* A container which displays a help icon. */
.help-pane .help-button .icon-button {
    -fx-font-size: 18;
}
