.depth-1 {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.26), 10, 0.12, -1, 2);
}

.depth-2 {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.26), 15, 0.16, 0, 4);
}

.depth-3 {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.26), 20, 0.19, 0, 6);
}

.depth-4 {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.26), 25, 0.25, 0, 8);
}

.depth-5 {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.26), 30, 0.30, 0, 10);
}

.root {
    -fx-font-family: "Roboto";
}

.jfx-tool-bar {
    -fx-min-height: 50;
    -fx-background-color: -grey-50;
}

.jfx-check-box {
    -jfx-checked-color: -blue-grey-400;
    -fx-font-size: 14;
}

.jfx-combo-box {
    -jfx-unfocus-color: -grey-600;
    -jfx-focus-color: -blue-grey-400;
}

.jfx-text-field {
    -jfx-unfocus-color: -grey-600;
    -jfx-focus-color: -blue-grey-400;
}

.jfx-text-area {
    -jfx-unfocus-color: -grey-600;
    -jfx-focus-color: -blue-grey-400;
}

.jfx-rippler {
    -jfx-rippler-fill: white;
}

/* A tab pane for navigating between windows. */
.navigation-tab-bar {
    -fx-tab-min-height: 45;
}

.navigation-tab-bar .tab-header-area .tab-header-background {
    -fx-background-color: -grey-800;
}

.navigation-tab-bar .tab-header-area .tab-selected-line {
    -fx-background-color: -grey-50;
}

.navigation-tab-bar .tab-header-area .tab .tab-label {
    -fx-text-fill: -grey-400;
    -fx-font-weight: normal;
}

.navigation-tab-bar .tab-header-area .tab:selected .tab-label {
    -fx-text-fill: -grey-50;
}

/* The background of the window. */
.background {
    -fx-background-color: -grey-200;
}

/* A pane that floats above the background. */
.pane {
    -fx-background-color: -grey-50;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.26), 15, 0.16, 0, 4);
}

/* An HBox or VBox containing spaced panes. */
.pane-box {
    -fx-margin: 0;
    -fx-padding: 15;
    -fx-spacing: 15;
}

/* A button containing text. */
.button-text {
    -jfx-button-type: RAISED;
    -fx-min-height: 30;
    -fx-min-width: 80;
}

/* A regular button. */
.button-regular {
    -fx-background-color: -blue-grey-400;
    -fx-text-fill: white;
}

.button-regular:hover {
    -fx-background-color: -blue-grey-300;
}

/* A button for confirming/applying an action. */
.button-confirm {
    -fx-background-color: -green-400;
    -fx-text-fill: white;
}

.button-confirm:hover {
    -fx-background-color: -green-300;
}

/* A button for doing something that the user should be cautious about. */
.button-danger {
    -fx-background-color: -red-400;
    -fx-text-fill: white;
}

.button-danger:hover {
    -fx-background-color: -red-300;
}

/* A card-style list. */
.card-list-view {
    -fx-background-color: transparent;
    -jfx-vertical-gap: 10px;
    -jfx-expanded: true;
}

.card-list-view .list-cell {
    -fx-background-color: -grey-50;
}

.card-list-view .list-cell:hover {
    -fx-background-color: -grey-200;
}

.card-list-view .list-cell:selected {
    -fx-background-color: -blue-grey-400;
}

.card-list-view .list-cell:selected .label {
    -fx-text-fill: white;
}

/* The title for a card-style list item. */
.card-title {
    -fx-font-family: "Roboto Medium";
    -fx-font-size: 16;
}

/* The subtitle for a card-style list item. */
.card-subtitle {
    -fx-font-size: 14;
    -fx-text-fill: -grey-600;
}

/* A label for a value to display. */
.info-key {
    -fx-font-size: 12;
    -fx-text-fill: -grey-600;
}

/* A labeled value to display. */
.info-value {
    -fx-font-size: 16;
}

/* A button with an icon label for use on a dark background. */
.icon-button-dark {
    -jfx-mask-type: CIRCLE;
}

.icon-button-dark .ikonli-font-icon {
    -fx-icon-size: 24px;
    -fx-icon-color: -grey-200;
}

.icon-button-dark Circle:hover {
    -fx-fill: -grey-50;
    -fx-opacity: 0.2;
}

/* A button with an icon label for use on a light background. */
.icon-button-light {
    -jfx-mask-type: CIRCLE;
}

.icon-button-light .ikonli-font-icon {
    -fx-icon-size: 24px;
    -fx-icon-color: -grey-800;
}

.icon-button-light Circle:hover {
    -fx-fill: -grey-600;
    -fx-opacity: 0.2;
}

/* A popup notification. */
.notification {
    -fx-background-color: -grey-800;
}

.notification .label {
    -fx-text-fill: -grey-200;
    -fx-font-size: 10pt;
}
